.body-overflow
  overflow: hidden

.wrapper
  position: relative
  width: calc(100% - 2rem)
  margin: 0 auto
  +m($lg)
    width: calc(100% - 6rem)

//Top
.top
  margin-top: 6rem
  +m($lg)
    margin-top: 19rem

//Text
.f-times
  +font-times-mt
  font-size: 4.5rem
  line-height: 4.1rem
  letter-spacing: -0.225rem
  +m($lg)
    font-size: 11rem
    // line-height: 8.5rem
    letter-spacing: -0.55rem

.s-link
  font-size: 0.9rem
  line-height: 1.4rem
  text-transform: uppercase
  color: $secondary
  +m($lg)
    font-size: 1.5rem
    line-height: 2.2rem
  span 
    display: inline-block
    +transition
  &:hover
    span
      transform: translateX(0.5rem)

.s-text-big
  +font-helv-n-r
  font-size: 1.2rem
  line-height: 1.5rem
  letter-spacing: -0.06rem
  +m($lg)
    font-size: 2.1rem
    line-height: 2.3rem
    letter-spacing: 0

.s-text-upper-small
  font-size: 1rem
  line-height: 1.5rem
  +font-helv-r
  text-transform: uppercase
  +m($lg)
    font-size: 1.4rem
    line-height: 2.2rem

.s-title-upper-small
  font-size: 1rem
  line-height: 1.5rem
  +font-helv-b
  text-transform: uppercase
  +m($lg)
    font-size: 1.4rem
    line-height: 2.2rem

//Active classes
.is-shown
  opacity: 1

//JS classes
.js-soon
  display: none

.js-soon-hover
  display: none

.js-discover
  cursor: pointer

.js-play
  cursor: pointer

//Background
.bg-black
  color: $white
  background-color: $black

//Cursor
.cursor
  display: none
  +m($xl)
    display: block
    position: fixed
    top: -3.5rem
    left: -3.5rem
    z-index: 3
    pointer-events: none
    width: 7rem
    height: 7rem
    transform: translate(-3.5rem, -3.5rem)
    transition: 0.25s all ease-out
    background: url('../img/images/IMPOLITE_CURSOR.png') 50% 50% no-repeat
    background-size: cover
    &:before
      content: ''
      display: flex
      align-items: center
      justify-content: center
      width: 100%
      height: 100%
      padding-left: 1.1rem
      font-size: 1.4rem
      text-align: center
      transition: 0.25s all ease-out
      transform: scale(0)
  &.is-active
    top: -14rem
    left: -14rem
    width: 28rem
    height: 28rem
    &:before
      content: ''
      opacity: 1
      transform: scale(1)
  &.is-discover
    &:before
      content: 'DISCOVER'
  &.is-play
    &:before
      content: 'PLAY'
  &.is-hidden
    opacity: 0



