.cookies
  display: none
  position: fixed
  right: 1rem
  bottom: 3rem
  z-index: 3
  padding: 1rem
  border-radius: 1rem
  background-color: $white
  +m($xl)
    right: 3rem
  &__text
    font-size: 1.4rem
    font-weight: 700
    text-align: center
    color: $secondary
    +m($xl)
      font-size: 2rem
  &__link
    font-style: italic
    font-weight: 400
    color: $secondary
    text-decoration: underline
    &:hover
      text-decoration: none
  &__btns
    display: flex
    justify-content: center
    margin-top: 1rem
  &__btn
    padding: 0.5rem 1.2rem
    border: 0.1rem solid $secondary
    border-radius: 3rem
    font-size: 1.4rem
    color: $secondary
    background-color: transparent
    cursor: pointer
    +transition
    +m($xl)
      font-size: 2rem
    &:first-child
      margin-right: 1rem
    &:hover
      border-color: $black
