.footer_black
  background-color: $black
  .footer__logo
    color: $white
  .footer__blockquote-text
    color: $accent
  .footer__blockquote-author
    color: $accent
  .footer__legal-link
    color: $white
  .footer__link
    color: $white

