.footer
  padding-bottom: 7.1rem
  +m($lg)
    padding-bottom: 15.3rem
  &__box
    +m($lg)
      display: flex
  &__logo-box
    +m($lg)
      width: 33.8%
  &__logo
    display: inline-block
    margin-bottom: 2.6rem
    +font-helv-n-b
    font-size: 1.7rem
    line-height: 1.2
    letter-spacing: -0.085rem
    color: $black
    +m($lg)
      font-size: 3rem
      letter-spacing: -0.06rem
  &__blockquote
    margin-bottom: 2.1rem
    +m($lg)
      width: 33.75%
      margin-bottom: 0
      margin-top: 1.1rem
  &__blockquote-text
    padding-bottom: 1.6rem
    font-size: 1.3rem
    +font-helv-n-b
    line-height: 1.21
    color: $secondary
    +m($lg)
      font-size: 1.6rem
      line-height: 2rem
      letter-spacing: -0.032rem
  &__blockquote-author
    font-size: 1.3rem
    +font-helv-n-b
    line-height: 1.21
    color: $secondary
    +m($lg)
      +font-times-mt
      font-size: 1.6rem
      line-height: 2rem
      letter-spacing: -0.032rem
  &__nav-box
    +m($lg)
      position: relative
      width: 24%
      margin-top: 0.5rem
  &__nav
    display: none
    +m($lg)
      display: block
  &__legal-link
    position: absolute
    right: 0
    bottom: 0.3rem
    font-size: 1.4rem
    font-weight: 700
    text-decoration: underline
    letter-spacing: -0.07rem
    color: $black
    +transition
    z-index: 10
    +m($lg)
      position: static
      display: inline-block
      margin-top: 6.7rem
      font-size: 1.6rem
      letter-spacing: 0
    &:hover
      text-decoration: none
  &__link
    font-size: 1.4rem
    +font-helv-n-b
    line-height: 2rem
    letter-spacing: -0.07rem
    color: $black
    +m($lg)
      font-size: 1.6rem
      line-height: 3rem
      letter-spacing: 0
    &_cult
      +m($lg)
        color: $secondary
        span
          +font-times-mt
          font-size: 1.8rem
          line-height: 3rem
  &__social
    position: relative
    +m($lg)
      margin-top: 0.5rem
    li
      margin-bottom: -0.3rem
      +m($lg)
        margin-bottom: 0

