.header_white
  padding-top: 2rem
  +m($lg)
    padding-top: 7.6rem
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    z-index: -1
    width: 100%
    height: 2.8rem
    background: transparent linear-gradient(180deg, #AEFF00 0%, #AEFF003F 41%, #AEFF000A 57%, #AEFF0000 100%) 0% 0% no-repeat padding-box
    +m($lg)
      height: 28.4rem
      background: transparent linear-gradient(180deg, #AEFF00 0%, #AEFF003F 41%, #AEFF000A 57%, #AEFF0000 100%) 0% 0% no-repeat padding-box