.header
  position: relative
  z-index: 10
  &_on-black
    .header__logo
      color: $white
    .burger div
      background-color: $white
    .burger.is-active div
      background-color: $black
    .menu__link
      +m($lg)
        color: $white
    .menu-email
      color: $white
  &__logo
    position: absolute
    z-index: 2
    +font-helv-b
    font-size: 1.7rem
    letter-spacing: -0.05em
    color: $black
    +m($lg)
      font-size: 4rem

.burger
  position: absolute
  top: 0.2rem
  right: 0
  z-index: 2
  background-color: transparent
  +m($lg)
    display: none
  div
    width: 2.5rem
    height: 0.3rem
    margin-bottom: 0.2rem
    background-color: $black
    transition: 0.3s all ease
    transform-origin: 0 0
    &:last-child
      margin-bottom: 0
  &.is-active
    div:first-child
      transform: rotate(45deg) translateY(-0.25rem)
    div:nth-child(2)
      opacity: 0
    div:last-child
      transform: rotate(-45deg) translate(-0.4rem, 0.4rem)

.menu
  position: fixed
  top: 0
  left: 0
  z-index: 2
  width: 100%
  display: flex
  flex-flow: column
  align-items: center
  justify-content: center
  height: 100vh
  width: 100%
  background-color: $accent
  opacity: 0
  pointer-events: none
  +transition
  +m($lg)
    position: static
    align-items: flex-end
    height: auto
    width: auto
    opacity: 1
    background-color: transparent
    pointer-events: auto
  &.is-active
    pointer-events: auto
    opacity: 1
  &__list
    +m($lg)
      display: flex
      justify-content: flex-end
      margin-top: 0.8rem
  &__item
    margin-bottom: 0.2rem
    text-align: center
    +m($lg)
      margin-bottom: 0
      margin-left: 5.2rem
      text-align: left
  &__link
    +font-helv-n-b
    font-size: 3rem
    line-height: 4.5rem
    letter-spacing: -0.06rem
    color: $black
    text-align: center
    cursor: pointer
    +m($lg)
      font-size: 1.8rem
      line-height: 4.5rem
      letter-spacing: -0.36px
      text-transform: uppercase
      text-align: left

.menu-email
  display: none
  +m($lg)
    display: block
    margin-top: -0.5rem
    float: right
    font-size: 2rem
    line-height: 2.4rem
    color: $black