<div class="cookies js-cookies-banner">
  <p class="cookies__text">Cookies 
    <a class="cookies__link" href="https://ec.europa.eu/info/cookies_en" target="_blank">Learn more</a>
  </p>
  <div class="cookies__btns">
    <button class="cookies__btn js-cookies-accept">Accept</button>
    <button class="cookies__btn js-cookies-close">Deny</button>
  </div>
</div>