<footer class="footer js-footer">
  <div class="wrapper">
    <div class="footer__box">
      <div class="footer__logo-box js-footer-logo">
        <a class="footer__logo logo" href="/">Impolite Culture GmbH</a>
      </div>

      <blockquote class="footer__blockquote js-footer-text">
        <p class="footer__blockquote-text">
          “Everybody has a plan<br> until they get punched in the face”
        </p>
        <span class="footer__blockquote-author">Mike Tyson</span>
      </blockquote>

      <div class="footer__nav-box">
        <ul class="footer__nav js-footer-nav">
          <li>
            <a class="footer__link" href="/works">Works</a>
          </li>
          <li>
            <a class="footer__link" href="/#directors">Directors</a>
          </li>
          <li>
            <a class="footer__link" href="/about">About us</a>
          </li>
          <li>
            <a class="footer__link footer__link_cult" href="#"><span>Coming Soon </span>Cult</a>
          </li>
        </ul>
        <a class="footer__legal-link js-footer-legal" href="/legal">Legal Page</a>
      </div>

      <ul class="footer__social js-footer-social">
        <li>
          <a class="footer__link" target="_blank" href="https://www.instagram.com/impolitemedia/">Instagram</a>
        </li>
        <li>
          <a class="footer__link" target="_blank" href="https://www.linkedin.com/company/impolite-media/">Linkedin</a>
        </li>
      </ul>
    </div>
  </div>
</footer>