<header class="header header_white">
  <div class="wrapper js-header-white">
    <a class="header__logo logo js-top-header-logo" href="/">Impolite Culture GmbH</a>
  
    <div class="menu-box">
      <nav class="menu js-menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="/works">Works</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/#directors">Directors</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/about">About us</a>
          </li>
          <li class="menu__item">
              <a class="menu__link" href="/#cult">Cult</a>
          </li>
        </ul>
      </nav>

      <a class="menu-email js-top-header-email" href="mailto:hellogoodbye@beimpolite.com">hellogoodbye@beimpolite.com</a>

      <button class="burger js-burger">
        <div></div>
        <div></div>
        <div></div>
      </button>
  
    </div>
  </div>
</header>