*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666
body input:required:valid,
body textarea:required:valid
  color: #666

html, body
  height: 100%

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1
  -webkit-overflow-scrolling: touch
  +font-helv-r
  +smooth-font
  color: $black
  // opacity: 1 //like preloader

a
  text-decoration: none
  cursor: pointer

li
  list-style: none

html
  +css-lock(10, 30, '320', '960', 'font-size', 'px')
  +m($lg)
    +css-lock(7.5, 10, '961', '1280', 'font-size', 'px')
  +m($xl)
    +css-lock(10, 20, '1280', '2560', 'font-size', 'px')