.info_about
  padding-bottom: 11.5rem
  margin: 6rem 0 0
  +m($lg)
    padding-bottom: 14.7rem
    margin: 19.5rem 0 0
  br
    display: block
  .br-mob
    +m($lg)
      display: none


.contact_about
  margin-bottom: 0
  +m($lg)
    padding-bottom: 6.4rem
  .contact__title
    font-size: 4.5rem
    line-height: 4.7rem
    +m($lg)
      font-size: 10rem
      line-height: 8.5rem
      letter-spacing: -0.5rem
  .contact__text
    +font-helv-n-b
    font-size: 2.1rem
    line-height: 2.5rem
    letter-spacing: -0.105rem
    color: $white
    +m($lg)
      +font-helv-b
      margin-bottom: 0.9rem
      font-size: 2.6rem
      line-height: 3rem
      letter-spacing: 0
    a
      color: $white
  .contact__address
    margin-bottom: 5.5rem
    font-size: 1.3rem
    line-height: 2.2rem
    +m($lg)
      margin-bottom: 0
      font-size: 1.6rem
      line-height: 2.2rem
      text-transform: inherit
  .contact__img-box
    display: none
    +m($lg)
      display: block

.team
  padding-bottom: 8.8rem
  background-color: $black
  +m($lg)
    padding-bottom: 18.2rem
  &__item
    margin-bottom: 3rem
    color: $white
    +m($lg)
      display: inline-block
      width: 33%
      margin-bottom: 13.5rem
    &:last-child
      margin-bottom: 0
  &__item:nth-child(3) ~ .team__item
    +m($lg)
      margin-bottom: 0
  &__role
    display: block
    +font-helv-b
    font-size: 0.9rem
    line-height: 1.4rem
    text-transform: uppercase
    +m($lg)
      font-size: 1.5rem
      line-height: 2.2rem
  &__city
    display: block
    margin-bottom: 0.9rem
    font-size: 0.9rem
    line-height: 1.4rem
    text-transform: uppercase
    +m($lg)
      margin-bottom: 2.1rem
      font-size: 1.5rem
      line-height: 2.2rem
  &__name
    +font-helv-n-b
    font-size: 2.1rem
    line-height: 2.5rem
    letter-spacing: -0.105rem
    +m($lg)
      margin-bottom: 1rem
      font-size: 4rem
      line-height: 4.3rem
      letter-spacing: -0.2rem
  &__email
    display: inline-block
    font-size: 0.9rem
    line-height: 1.4rem
    color: $white
    text-transform: uppercase
    +m($lg)
      font-size: 1.5rem
      line-height: 2.2rem