.info_director
  margin: 15rem 0 1.5rem
  +m($lg)
    max-width: 110rem
    margin: 16.2rem 0 12.6rem auto
  .info__text
    .f-times
      font-size: 5.1rem
      +m($lg)
        font-size: 11.1rem
  .info__director
    position: fixed
    top: 13rem
    right: 1rem
    +font-helv-n-b
    font-size: 1.7rem
    letter-spacing: -0.085rem
    +m($lg)
      top: 21.7rem
      right: 3rem
      font-size: 4rem
      letter-spacing: -0.2rem

.clients-box
  margin-bottom: 10.5rem
  +m($lg)
    margin-bottom: 15.8rem

.client
  margin-bottom: 2.5rem
  +m($lg)
    margin-bottom: 12.5rem
  &:last-child
    margin-bottom: 0
  &__video-box
    position: relative
    width: 100%
    height: 0
    padding-bottom: 56.25%
    overflow: hidden
    margin-bottom: 0.6rem
    +m($lg)
      margin-bottom: 0.9rem
  &__img-box
    position: relative
    width: 100%
    height: 0
    padding-bottom: 56.25%
    overflow: hidden
    margin-bottom: 0.6rem
    +m($lg)
      margin-bottom: 0.9rem
  &__video
    position: absolute
    top: 0
    left: 0
    z-index: 2
    width: 100%
    height: 100%
    object-fit: cover
    // filter: blur(20px)
    // cursor: pointer
    // &.is-visible
    //   filter: blur(0)
    &:last-child
      z-index: 1
  &__img
    position: absolute
    top: 0
    left: 0
    z-index: 2
    width: 100%
    height: 100%
    object-fit: cover
  &_vert
    +m($lg)
      display: inline-block
      width: 39rem
    .client__video-box
      padding-bottom: 140.25%
      +m($lg)
        padding-bottom: 141%
    .client__img-box
      padding-bottom: 140.25%
      +m($lg)
        padding-bottom: 141%
  &_gor
    +m($lg)
      width: 70.2rem
    .client__video-box
      padding-bottom: 56.25%
  &_gor-big
    +m($lg)
      width: 100%
  &_gor-right
    +m($lg)
      margin: 0 0 16.5rem auto
  &_2
    +m($lg)
      margin-top: -29rem
  &_7
    +m($lg)
      float: left
      margin-top: -90.5rem
  &_10
    +m($lg)
      margin-left: 2rem
      margin-right: 2rem
  &__name
    font-size: 0.9rem
    line-height: 1.4rem
    text-transform: uppercase
    +m($lg)
      font-size: 1.4rem
      line-height: 2.2rem