//Main page
.homepage
  width: 100%
  overflow-x: hidden

.info
  margin: 8rem 0 12rem
  +m($lg)
    margin-bottom: 24.7rem
  &_top
    padding: 1.9rem 0.7rem 3.9rem
    margin: 0 auto
    +m($lg)
      padding: 5rem 3rem 7.5rem
      .info__text
        line-height: 10.1rem
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      z-index: -1
      width: 100%
      height: 7.7rem
      background: transparent linear-gradient(180deg, #AEFF00 0%, #AEFF003F 41%, #AEFF000A 57%, #AEFF0000 100%) 0% 0% no-repeat padding-box
      +m($lg)
        height: 17.4rem
        background: transparent linear-gradient(180deg, #AEFF00 0%, #AEFF003F 41%, #AEFF000A 57%, #AEFF0000 100%) 0% 0% no-repeat padding-box
  &_we
    margin-bottom: 11rem
    +m($lg)
      padding-top: 12rem
      margin-bottom: 20.5rem
    .info__text
      br
        display: block
  &__text
    font-size: 4rem
    line-height: 3.9rem
    +font-helv-n-b
    letter-spacing: -0.2rem
    br
      display: none
      +m($lg)
        display: block
    +m($lg)
      font-size: 10rem
      line-height: 8.5rem
      letter-spacing: -0.5rem
    &:last-child
      margin-top: 1em
  &__link
    margin-top: 1.3rem
    float: right
    +m($lg)
      float: none
      position: relative
      top: 2.9rem
      left: 55rem
  &__blockquote
    position: relative
  &__author
    position: absolute
    bottom: 0.5rem
    right: 0.1rem
    +font-helv-n-b
    font-size: 1.7rem
    line-height: 2.1rem
    +m($lg)
      bottom: -0.5rem
      right: 1.8rem
      font-size: 1.7rem
      line-height: 2rem
      text-transform: uppercase

//Projects common
.project
  margin-bottom: 7.7rem
  +m($lg)
    margin-bottom: 18rem
  &__video-box
    position: relative
    width: 100%
    height: 0
    padding-bottom: 56.25%
    margin-bottom: 0.5rem
    overflow: hidden
    +m($lg)
      margin-bottom: 0
  &__video
    position: absolute
    top: 0
    left: 0
    z-index: 1
    width: 100%
    height: 100%
    object-fit: cover
    &:last-child
      z-index: 0
  &__video-poster
    position: absolute
    top: -1rem
    left: -1rem
    width: calc(100% + 2rem)
    height: calc(100% + 2rem)
    object-fit: cover
    z-index: 2
    pointer-events: none
    +transition
    +m($xl)
      filter: blur(1rem)
    &.is-visible
      filter: blur(0)
      opacity: 0
  &__video-nav
    position: absolute
    z-index: 2
    top: 1rem
    left: 1rem
    display: flex
    flex-flow: column
    +m($lg)
      top: 2.3rem
      left: 2.3rem
  &__video-svg
    background-color: transparent
    &:first-child
      width: 1rem
      height: 1rem
      +m($lg)
        width: 3.1rem
        height: 2.9rem
    &:last-child
      width: 1rem
      height: 1.15rem
      margin-top: 1rem
      +m($lg)
        width: 3.1rem
        height: 3.5rem
        margin-top: 1.5rem
    svg
      display: block
      width: 100%
      height: 100%
      object-fit: contain
      &.is-muted
        .sound-on
          display: none
  &__img-additional
    display: none
    +m($lg)
      display: block
  &__img-gor-box
    position: relative
    width: 100%
    height: 0
    padding-bottom: 56.25%
  &__img
    position: absolute
    top: 0
    left: 0
    z-index: 2
    width: 100%
    height: 100%
    object-fit: cover
  &__text-box
    position: relative
  &__name-box
    position: relative
    display: inline-flex
    justify-content: center
    align-items: center
    border-radius: 1.2rem
    margin-bottom: 1rem
    overflow: hidden
    +m($lg)
      margin-bottom: 0
  &__name
    position: relative
    z-index: 1
    display: inline-block
    padding: 0.4rem
    border-radius: 1.2rem
    font-size: 0.9rem
    line-height: 1
    text-transform: uppercase
    white-space: nowrap
    +m($lg)
      padding: 0.4rem 0.6rem 0.8rem 0.6rem
      font-size: 1.4rem
  &__name-bg
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 0
    border-radius: 1.2rem
    background-color: $accent
    transform-origin: 0 0
  &__title
    font-size: 1.7rem
    line-height: 2rem
    +font-helv-n-b
    letter-spacing: -0.085rem
    +m($lg)
      margin-bottom: 1rem
      font-size: 4rem
      line-height: 4.3rem
      letter-spacing: -0.2rem
  &__text
    font-size: 1.2rem
    line-height: 1.5rem
    letter-spacing: -0.06rem
    +m($lg)
      font-size: 2rem
      line-height: 2.8rem
      letter-spacing: 0
  &__authors
    display: flex
    flex-direction: column
    align-items: flex-end
    margin-top: 0.7rem
    +m($lg)
      align-items: flex-start
  &__author
    font-size: 1.2rem
    line-height: 1.5rem
    letter-spacing: -0.06rem
    color: $black
    +m($lg)
      font-size: 2rem
      line-height: 2.8rem
      letter-spacing: 0
    a
      color: $black

//Project1
.karman
  margin-top: 6rem
  +m($lg)
    margin-top: 2rem
    margin-bottom: 4.2rem
  &__box
    +m($lg)
      display: flex
  &__container
    width: 100%
    +m($lg)
      width: 77%
      margin-left: -3rem
  &__video-box
    +m($lg)
      margin-bottom: 3.2rem
  &__video-nav
    +m($lg)
      left: 3rem
  &__img-box
    +m($lg)
      width: 29.1rem
      margin-left: 2rem
      margin-top: 3.5rem
  &__img
    width: 100%
    overflow: hidden
    &:first-child
      transform: translateX(-25rem)
    &:last-child
      margin-top: 3.5rem
  &__text-box
    +m($lg)
      padding: 0 9rem 0 3rem
  &__name
    +m($lg)
      position: absolute
      top: 6rem
      left: 3rem
  &__text
    +m($lg)
      margin-left: 25.5rem

//Project2
.nike
  position: relative
  +m($lg)
    color: $white
    margin-bottom: 6.7rem
  .header
    display: none
    +m($lg)
      display: block
  &__box
    +m($lg)
      padding-top: 7.1rem
  &__video-box
    +m($lg)
      position: absolute
      left: -8.8rem
      top: 0
      width: 145.6rem
      padding-bottom: 81.9rem
  &__video-nav
    +m($lg)
      top: 7.2rem
      right: 14.8rem
      left: auto
      z-index: -1
  &__iframe-video
    position: absolute
    top: 0
    left: 0
    z-index: -1
    width: 100%
    height: 100%
    object-fit: cover
    cursor: pointer
  &__imgs-container
    display: none
    +m($lg)
      display: flex
      justify-content: flex-end
      margin-top: 26.2rem
  &__imgs-box
    min-width: 93.6rem
  &__img-container
    display: inline-block
  &__img-box
    position: relative
    width: 27.8rem
    height: 15.7rem
    margin-left: 3.1rem
    &:nth-child(1)
      z-index: 2
    &:nth-child(2)
      z-index: 1
    &:nth-child(3)
      z-index: 3
  &__text-box
    +m($lg)
      width: 50%
      margin-bottom: 9.5rem
  &__name
    +m($lg)
      position: absolute
      top: 6rem
      left: 0
      color: $black
  &__text
    +m($lg)
      margin-left: 13.5rem
  &__authors-box
    position: relative 
    +m($lg)
      margin-top: 6.5rem
    .nike__name
      display: none
      +m($lg)
        display: block
        top: -2rem
  &__authors
    +m($lg)
      margin-left: 13.5rem
  &__author, 
  &__author a
    +m($lg)
      color: $white

//Project3
.karman-p
  margin-bottom: 10.2rem
  +m($lg)
    padding-top: 5rem
  .header
    display: none
    +m($lg)
      display: block
      margin-top: 8.7rem
  &__text
    +m($lg)
      line-height: 8.5rem
  &__link
    +m($lg)
      display: inline-block
      margin-top: 0
  &__video-small-box
    display: none
    +m($lg)
      display: block
      position: absolute
      top: 18.3rem
      right: 0
      width: 30rem
      +transition
    &:hover
      transform: scale(1.2) !important
  &__video-big-box
    margin-top: 4rem
    +m($lg)
      width: 65.8rem
      margin-top: 5rem

//Project4
.jupiter
  padding-top: 3.5rem
  margin-bottom: 3.6rem
  .header
    display: none
    +m($lg)
      display: block
  &__box
    +m($lg)
      display: flex
      width: 100%
      padding-top: 4rem
      margin-top: 8rem
  &__media-box
    +m($lg)
      position: relative
      right: -3rem
      order: 2
      width: 76%
  &__img-additional
    display: block
    +m($lg)
      position: relative
      z-index: 2
      top: -4.4rem
      width: 48.5%
      margin-left: auto
      margin-right: 3rem
  &__img-gor-box
    display: none
    +m($lg)
      display: block
      margin-bottom: 3.1rem
    &:nth-child(2)
      display: block
      margin-bottom: 1.5rem
      +m($lg)
        margin-bottom: 3.1rem
    &:last-child
      +m($lg)
        margin-bottom: 0
  &__video-box
    display: none
    +m($lg)
      display: block
      position: absolute
      top: 0
      left: 0
      padding-bottom: 78.5%
  &__iframe-video
    position: absolute
    top: 0
    left: 0
    z-index: -1
    width: 100%
    height: 100%
    object-fit: cover
    cursor: pointer
  &__video-nav
    z-index: -1
    +m($lg)
      top: 1.5rem
      right: 1.5rem
      left: auto
  &__text-box
    +m($lg)
      display: flex
      flex-flow: column
      align-items: flex-start
      order: 1
      width: 32.33%
      margin-top: 4.5rem
  &__name
    +m($lg)
      position: absolute
      top: 9.5rem
  &__title
    +m($lg)
      margin-bottom: 4.3rem
  &__authors
    +m($lg)
      position: absolute
      left: 0
      bottom: 4.3rem

//Project5
.terra
  position: relative
  padding-top: 3.5rem
  .header
    display: none
    +m($lg)
      display: block
  &__box
    +m($lg)
      display: flex
      flex-flow: column
  &__video-box
    +m($lg)
      order: 2
      width: 89.8rem
  &__text-box
    +m($lg)
      order: 1
      width: 100%
      margin-top: 11rem
      margin-left: 15rem
      margin-bottom: 9rem
  &__title
    +m($lg)
      width: 44.4rem
      margin-bottom: 0
  &__name
    +m($lg)
      position: absolute
      top: 1rem
      left: 45.6rem
  &__text
    +m($lg)
      position: absolute
      top: 4.8rem
      left: 45.6rem
      width: 60.9rem
  &__authors
    +m($lg)
      position: absolute
      top: 66.5rem
      left: 78rem
      width: 24rem
  &__imgs-box
    +m($lg)
      position: absolute
      z-index: 2
      top: 36.2rem
      right: -6.5rem
      display: flex
      flex-flow: row wrap
      justify-content: space-between
      align-content: space-between
      width: 61.2rem
      height: 35.8rem
  &__img-box
    width: 29.2rem
    height: 16.5rem
    overflow: hidden

//Project6
.swoosh
  padding: 8rem 0
  color: $white
  background: $black
  +m($lg)
    padding: 3.5rem 0 29.2rem
    margin-bottom: 0
  .header
    display: none
    +m($lg)
      display: block
  &__box
    position: relative
    width: 23.2rem
    margin: 0 auto
    +m($lg)
      width: 41.9rem
  &__text-box
    position: relative
    padding-top: 5.8rem
    margin: 0 0 8.4rem
    text-align: center
    pointer-events: none
    +m($lg)
      padding-top: 6.5rem
      margin: 11rem 0 9rem
  &__title
    +m($lg)
      margin-bottom: 0.3rem
  &__img-box
    position: absolute
    z-index: 0
    top: 0
    left: 50%
    width: 16.4rem
    height: 20.4rem
    margin-left: -8.2rem
    opacity: 0.5
    +transition
    +m($lg)
      width: 25.8rem
      height: 32.1rem
      margin-left: -12.9rem
    &:hover
      +m($lg)
        opacity: 1 !important
        z-index: 1 !important
        transform: scale(1.6) !important
  &__img
    +img
  &__form-box
    width: 23.2rem
    margin: 0 auto
    text-align: center
    +m($lg)
      width: 25.8rem
  &__form-text
    display: inline-block
    margin-bottom: 1.1rem
    font-size: 1.2rem
    line-height: 1.5rem
    text-align: center
    +m($lg)
      margin-bottom: 1rem
      line-height: 2rem
    & + .error-message
      display: none
  &__input
    display: block
    width: 23.1rem
    height: 3rem
    border: 0.1rem solid $white
    border-radius: 2.1rem !important
    margin: 0 auto
    font-size: 1.2rem
    text-align: center
    color: $white
    background-color: transparent
    +transition
    +m($lg)
      width: 25.8rem
      height: 4.1rem
    &.error
      border-color: #ff0000
    & + .error-message
      margin-top: 0.5rem
      font-size: 1.2rem
      line-height: 1.5rem
      text-align: center
      +m($lg)
        line-height: 2rem
  &__authors
    display: none
    +m($lg)
      display: block
      margin-bottom: 3rem
      color: $white
  &__input-success
    display: flex
    align-items: center
    justify-content: center
    span
      display: inline-block
      margin-top: -0.5rem
      border-color: $accent
      color: $accent
  &__author
    display: block
    text-align: center
    color: $white
    a
      color: $white

//Project7
.spati
  position: relative
  margin-bottom: 11rem
  +m($lg)
    margin-bottom: 4.5rem
    padding-top: 3.5rem
  .header
    display: none
    +m($lg)
      display: block
  &__box
    +m($lg)
      display: flex
      justify-content: space-between
      margin-top: 14rem
  &__video-container
    +m($lg)
      order: 2
      width: 51.3%
  &__video-box
    padding-bottom: 53.3rem
    +m($lg)
      width: 29.6rem
      padding-bottom: 52.7rem
      margin-bottom: 2.43rem
  &__video-nav
    +m($lg)
      left: auto
      right: 1.3rem
  &__text-box
    +m($lg)
      position: static
      width: 60rem
  &__name
    +m($lg)
      display: inline-block
      margin-bottom: 1.3rem
  &__title
    +m($lg)
      margin-bottom: 0.4rem
  &__text
    +m($lg)
      width: 85%
  &__authors
    +m($lg)
      position: absolute
      left: 0
      bottom: 2rem
      width: 25.1rem
  &__img-box
    position: absolute
    width: 12.86rem
    height: 9.64rem
    z-index: 3
    +m($lg)
      width: 33.2rem
      height: 24.9rem
    &:nth-child(1)
      top: 9rem
      left: -3.5rem
      transform: rotate(-78deg)
      +m($lg)
        top: 33rem
        left: 0
    &:nth-child(2)
      top: 25.7rem
      left: 8.5rem
      transform: rotate(-111deg)
      +m($lg)
        top: 39.5rem
        // left: 41rem
        left: 91rem
    &:nth-child(3)
      top: 0.5rem
      right: -5rem
      transform: rotate(-73deg)
      +m($lg)
        top: 29rem
        // right: -6.5rem
        right: -106.5rem

//Contact section
.contact
  position: relative
  margin-bottom: 9rem
  +m($lg)
    margin-bottom: 24.5rem
  &__box
    +m($lg)
      display: flex
      justify-content: space-between
      margin: 0 10rem
  &__title
    display: inline-block
    font-size: 4rem
    line-height: 4.1rem
    +font-helv-n-b
    letter-spacing: -0.2rem
    +m($lg)
      font-size: 10rem
      line-height: 8.5rem
      letter-spacing: -0.5rem
  &__text
    font-size: 1.3rem
    line-height: 1.5rem
    color: $black
    +m($lg)
      margin-bottom: 1.4rem
      font-size: 1.7rem
      line-height: 1.9rem
    span 
      +m($lg)
        display: inline-block
    a
      color: $black
  &__address
    display: inline-block
    margin-bottom: 3.4rem
    font-size: 1rem
    line-height: 1.5rem
    +m($lg)
      margin-bottom: 0
      font-size: 1.4rem
      line-height: 2.2rem
      text-transform: uppercase
  &__img-box
    position: relative
    width: 100%
    height: 0
    padding-bottom: 60.65%
    +m($lg)
      width: 49%
      margin-top: 21rem
      padding-bottom: 29.3%
    &:hover
      .contact__img-text
        +m($xl)
          opacity: 1
  &__img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  &__img-text
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    display: flex
    align-items: center
    justify-content: center
    font-size: 2rem
    font-weight: 700
    line-height: 2.5rem
    text-align: center
    text-transform: uppercase
    color: $accent
    background: url('../img/images/Rectangle_45.png') 50% 50%
    background-size: cover
    +transition
    +m($lg)
      align-items: flex-end
      font-size: 4rem
      line-height: 4rem
      opacity: 0
    br
      display: none
      +m($lg)
        display: block
    span
      display: inline-block
      width: 45%
      +m($lg)
        width: 100%
        margin-bottom: 2rem
  &__link
    position: absolute
    top: 0.8rem
    right: 0
    +m($lg)
      top: -0.6rem
      right: 11rem

//Directors section
.directors
  margin-bottom: 5rem
  +m($lg)
    margin-bottom: 5.5rem
  &__title
    margin-bottom: 4.1rem
    font-size: 4rem
    line-height: 4.1rem
    letter-spacing: -0.2rem
    text-align: center
    +m($lg)
      margin-bottom: 10.5rem
      font-size: 11rem
      line-height: 8.5rem
      letter-spacing: -0.55rem
  &__item
    width: 800%
    margin-left: -200%
    margin-bottom: 1.6rem
    +m($lg)
      margin-bottom: 3.7rem
    &:nth-child(odd)
      .directors__link
        animation: textMoveLeft 15s infinite linear
    &:nth-child(even)
      .directors__link
        animation: textMoveRight 15s infinite linear
    &:last-child
      margin-bottom: 0
    &.is-hover
      .directors__link
        animation-play-state: paused !important
  &__link
    display: inline-block
    width: 150%
    +font-times-mt
    font-size: 4.5rem
    line-height: 4.1rem
    letter-spacing: -0.2rem
    color: $black
    will-change: transform
    +m($lg)
      position: relative
      z-index: 2
      font-size: 11rem
      line-height: 11rem
      letter-spacing: -0.55rem
  &__video-box
    display: none
    position: fixed
    top: 50%
    left: 50%
    z-index: 2
    width: 63.5rem
    height: 36.8rem
    transform: translate(-50%, -50%)
    pointer-events: none
    // opacity: 0
    // +transition
    // &.is-active
      // display: block
      // opacity: 1
  &__video
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover
    pointer-events: none
    opacity: 0
    &.is-active
      opacity: 1

@keyframes textMoveLeft
  to
    transform: translate(-10%, 0)

@keyframes textMoveRight
  to
    transform: translate(10%, 0)

//Cult section
.cult
  position: relative
  margin-bottom: 5rem
  +m($lg)
    margin-bottom: 20rem
  &__title-box
    position: absolute
    z-index: 2
    top: 6rem
    width: 100%
    text-align: center
    +m($lg)
      top: 20.5rem
  &__title
    +font-helv-n-b
    font-size: 4rem
    letter-spacing: -0.2rem
    +m($lg)
      font-size: 10rem
      letter-spacing: -0.5rem
    &_soon
      +m($lg)
        position: relative
        bottom: -1.6rem
        +font-times-mt
        font-size: 11rem
        line-height: 4.5rem
        letter-spacing: -0.55rem
  &__title-hover-box
    +m($lg)
      display: inline-block
      min-width: 17.5rem
      min-height: 9.1rem
      cursor: pointer
  &__img-box
    display: flex
    justify-content: center
    padding: 11.3rem 13.3rem 13.9rem
    margin: 0 auto
    background: url('../img/images/GRADIENT_BACKGROUND.png') 50% 50% no-repeat
    background-size: contain
    +m($lg)
      display: flex
      align-items: center
      justify-content: center
      padding: 32.6rem calc(17.9rem/2) 23.7rem
      background: url('../img/images/GRADIENT_BACKGROUND2.png') 50% 50% no-repeat
      background-size: contain
  &__img
    width: 5.5rem
    height: 5.5rem
    +m($lg)
      width: 17.9rem
      height: 17.9rem
