.karman-top
  margin-top: 13.7rem
  margin-bottom: 4.3rem
  +m($lg)
    margin-bottom: 18rem
  &__box
    +m($lg)
      display: flex
      justify-content: space-between
  &__video-box
    margin-bottom: 1.4rem
    +m($lg)
      order: 2
      width: 70.2rem
      margin-top: 1rem
  &__text-box
    +m($lg)
      order: 1
      width: 43rem
  &__title
    margin-bottom: 0.2rem
    +m($lg)
      margin-bottom: 0
  &__text-big
    margin-bottom: 0.5rem
    +m($lg)
      margin-bottom: 1rem
  &__text-small
    +m($lg)
      width: 39.5rem


.karman-list
  margin-bottom: 3.3rem
  +m($lg)
    display: flex
    justify-content: space-between
    margin-bottom: 14.8rem
  &__item
    margin-bottom: 2.5rem
    overflow: hidden
    +m($lg)
      width: 39rem
  &__item-inner
    position: relative
    display: flex
    align-items: center
    width: 100%
    height: 0
    padding-bottom: 141%
    background-color: #000
    +m($lg)
      margin-bottom: 1rem
  &__vert-box
    position: relative
    width: 100%
    height: 0
    padding-bottom: 141%
    +m($lg)
      margin-bottom: 1rem
  &__video-box
    position: absolute
    top: 50%
    left: 50%
    width: 100%
    height: 0
    padding-bottom: 100%
    transform: translate(-50%, -50%)
  &__name
    display: none
    +m($lg)
      display: block


.karman-info
  margin-top: 0
  margin-bottom: 6rem
  +m($lg)
    margin-left: 18.5rem
    margin-bottom: 10rem
  &__text
    width: 100%
    br
      display: none
      +m($lg)
        display: block


.karman-space
  margin-bottom: 3.1rem
  +m($lg)
    margin-bottom: 11rem
  &__box
    +m($lg)
      display: flex
      justify-content: space-between
  &__left
    +m($lg)
      display: flex
      flex-flow: column
      order: 1
      width: 39rem
  &__right
    +m($lg)
      order: 2
      width: 70.5rem
    .s-text-upper-small
      +m($lg)
        width: 39rem
        margin-bottom: 10.5rem
  &__right-name
    display: none
    +m($lg)
      display: block
  &__title
    margin-bottom: 0.5rem
    +m($lg)
      margin-bottom: 1.8rem
  &__site
    display: block
    margin-bottom: 3.3rem
    color: $black
    +m($lg)
      +font-helv-b
      font-weight: 700
      color: $secondary
  &__text
    margin-bottom: 3rem
    +m($lg)
      order: 2
      margin-bottom: 0
  &__video-box
    padding-bottom: 67%
    margin-bottom: 3rem
    +m($lg)
      margin-bottom: 1rem
  &__video-vert
    position: relative
    width: 100%
    padding-bottom: 143%
    +m($lg)
      order: 1
      margin-bottom: 2.3rem


.karman-site
  margin-bottom: 3.1rem
  +m($lg)
    margin-bottom: 9.8rem
  &__video-box
    padding-bottom: 62%


.karman-chapters
  &__box
    +m($lg)
      display: flex
      justify-content: space-between
  &__how
    +m($lg)
      width: 39rem
      margin-top: 26.5rem
  &__how-inner
    +m($lg)
      display: flex
      flex-flow: column
      margin-bottom: 32rem
  &__how-title
    margin-bottom: 0
    +m($lg)
      margin-bottom: 2rem
  &__how-text
    margin-bottom: 3.1rem
    +m($lg)
      order: 2
  &__how-img-box
    position: relative
    width: 100%
    height: 0
    padding-bottom: 141%
    margin-bottom: 2.7rem
    +m($lg)
      margin-bottom: 1.7rem
  &__astronaut
    display: none
    +m($lg)
      display: block
  &__astronaut-img-box
    +m($lg)
      position: relative
      width: 100%
      height: 0
      padding-bottom: 141%
      margin-bottom: 1.5rem
  &__text
    +m($lg)
      display: block
  &__inner
    position: relative
    +m($lg)
      width: 70.9rem
  &__inner-title
    margin-bottom: 0.5rem
    +m($lg)
      margin-bottom: 2rem
  &__inner-text
    margin-bottom: 3.1rem
    +m($lg)
      width: 39.3rem
      margin-bottom: 0
    &_bottom
      position: absolute
      top: 90rem
      +m($lg)
        position: static
        display: inline-block
  &__number
    display: inline-block
    margin-bottom: 0.5rem
    +m($lg)
      margin-bottom: 1rem
  &__name
    margin-bottom: 2.5rem
    +font-helv-n-b
    font-size: 1.7rem
    line-height: 2rem
    letter-spacing: -0.085rem
    +m($lg)
      margin-bottom: 0
      font-size: 2.5rem
      line-height: 2.8rem
  &__video-big-box
    padding-bottom: 69%
    margin-bottom: 4.2rem
    +m($lg)
      padding-bottom: 68%
      margin-top: 7rem
      margin-bottom: 10rem
  &__list
    margin-bottom: 3.7rem
    +m($lg)
      display: flex
      flex-flow: wrap
      justify-content: space-between
      margin-bottom: 10rem
  &__item
    +m($lg)
      width: 48%
    &:nth-child(2)
      margin-bottom: 12.5rem
      +m($lg)
        margin-bottom: 7.7rem
  &__video-box
    +m($lg)
      margin-bottom: 0.5rem
  &__bg-video-box
    padding-bottom: 66%
    margin-bottom: 3.1rem
    +m($lg)
      margin-bottom: 1.5rem
  &__bg-text
    display: none
    +m($xl)
      display: block
      margin-bottom: 8.5rem


.karman-results
  margin-bottom: 9.2rem
  +m($lg)
    margin-bottom: 18.2rem
  &__img-box
    position: relative
    height: 0
    padding-bottom: 67%
    margin-bottom: 2.8rem
  &__img-container
    +m($lg)
      width: 70.6rem
      margin-right: 0
      margin-left: auto
      margin-bottom: 7.8rem
  &__svg-list
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    margin-top: 2.5rem
    margin-bottom: 1.5rem
    +m($lg)
      order: 3
      justify-content: space-between
      width: 45rem
      margin-top: 1.7rem
      margin-left: 51rem
  &__svg-box
    width: 8.4rem
    margin-bottom: 1rem
    &:nth-child(2)
      margin: 0 2rem
  &__text-box
    +m($lg)
      display: flex
      flex-wrap: wrap
    .s-text-upper-small
      +m($lg)
        width: 38rem
      &:nth-child(3)
        +m($lg)
          margin-top: 4rem
          margin-left: 13.2rem
    .s-title-upper-small
      +m($lg)
        margin-bottom: 1.8rem


.karman-team
  width: 90%
  margin-bottom: 15rem
  +m($lg)
    width: 100%
    margin-bottom: 26rem
  &__list
    +m($lg)
      display: flex
      justify-content: space-between
  &__item
    margin-bottom: 1.5rem
    +m($lg)
      margin-bottom: 2rem
  &__list-item
    +m($lg)
      width: 29rem
  .s-text-upper-small
    display: block