.legalpage
  margin: 8.1rem 0 0
  +font-helv-r
  font-size: 0.9rem
  line-height: 1.2rem
  text-transform: uppercase
  +m($lg)
    margin: 13rem 0 0
    font-size: 1.4rem
    line-height: 2.2rem
  &__wrapper
    +m($lg)
      display: flex
  &__aside
    margin-bottom: 5.4rem
    +m($lg)
      flex: 0 0 34%
      max-width: 34%
  &__main
    +m($lg)
      flex: 0 0 66%
      max-width: 66%
  &__section
    margin-bottom: 5.3rem
    +m($lg)
      margin-bottom: 14.3rem
    &_alt
      margin-bottom: 6.5rem
      +m($lg)
        margin-bottom: 13.5rem
    &_bottom
      margin-bottom: 14rem
  &__info
    +m($lg)
      display: flex
      justify-content: space-between
  &__side
    +m($lg)
      width: 48%
  &__side:not(:last-child)
    margin-bottom: 1.2rem
    +m($lg)
      margin-bottom: 0
  &__box:not(:last-child)
    margin-bottom: 1.2rem
    +m($lg)
      margin-bottom: 2.3rem
  &__header
    margin-bottom: 1.6rem
    +font-helv-n-b
    font-size: 1.7rem
    line-height: 1.2rem
    letter-spacing: -0.085rem
    text-transform: initial
    +m($lg)
      margin-bottom: 4.1rem
      font-size: 4rem
      line-height: 4.3rem
      letter-spacing: -0.2rem
  &__subtitle
    margin-bottom: 1.2rem
    font-weight: 700
    font-size: 0.9rem
    line-height: 1.2rem
    +m($lg)
      margin-bottom: 2.1rem
      font-size: 1.4rem
      line-height: 2.2rem
    &_mb0
      margin-bottom: 0

.l-list
  &__item:not(:last-child)
    margin-bottom: 1rem
    +m($lg)
      margin-bottom: 2rem