.visar-top
  &__box
    +m($lg)
      display: flex
      justify-content: space-between
  &__video-container
    margin-bottom: 3.2rem
    +m($lg)
      width: 39.3rem
      margin-bottom: 0
  &__text-container
    margin-bottom: 3.2rem
    +m($lg)
      width: 70.2rem
      margin-top: -0.7rem
      margin-bottom: 17rem
  &__title
    margin-bottom: 0.2rem
    +m($lg)
      width: 49.6rem
      margin-bottom: 1rem
  &__text-big
    margin-bottom: 1rem
    +m($lg)
      width: 49.6rem
      margin-bottom: 1.5rem