.works
  margin-top: 8rem
  +m($lg)
    margin: 12.5rem -1rem 0
  &__item
    margin-bottom: 4rem
    +m($lg)
      display: inline-block
      width: calc(33% - 2rem)
      margin: 0 1rem 8.5rem
    // +m($xl)
    //   width: calc(33.05% - 2rem)
    // +m($xxl)
    //   width: calc(33.1% - 2rem)
  &__video-box
    position: relative
    height: 0
    padding-bottom: 56.25%
    margin-bottom: 0.5rem
    overflow: hidden
    +m($lg)
      margin-bottom: 1.5rem
  &__video
    position: absolute
    top: 0
    left: 0
    z-index: 2
    width: 100%
    height: 100%
    object-fit: cover
    // filter: blur(20px)
    // cursor: pointer
    // &.is-visible
    //   filter: blur(0)
    &:last-child
      z-index: 1
  &__text-box
    position: relative
  &__director-box
    position: relative
    display: inline-block
    min-width: 12rem
    min-height: 1.4rem
    margin-bottom: 0.3rem
    +m($lg)
      min-width: 21.5rem
      min-height: 2.2rem
      margin-bottom: 1.5rem
    a
      +transition
    a + a
      position: absolute
      top: 0
      left: 0
      opacity: 0
      pointer-events: none
    &:hover
      +m($lg)
        a
          opacity: 0
          pointer-events: none
        a + a
          opacity: 1
          pointer-events: auto
  &__director
    display: inline-block
    font-size: 0.9rem
    line-height: 1.4rem
    text-transform: uppercase
    color: $black
    +m($lg)
      font-size: 1.4rem
      line-height: 2.2rem
  &__title
    +font-helv-n-b
    font-size: 1.7rem
    line-height: 2rem
    letter-spacing: -0.085rem
    color: $black
    +m($lg)
      font-size: 2.5rem
      letter-spacing: -0.125rem
  &__link
    position: absolute
    top: 0
    left: 0
    display: inline-block
    font-size: 0.9rem
    line-height: 1.4rem
    text-transform: uppercase
    color: $secondary
    +m($lg)
      top: 0
      font-size: 1.5rem
      line-height: 2.2rem

.info
  &_works
    margin-top: 8.5rem
    margin-bottom: 12.7rem
    +m($lg)
      margin-top: 9rem
      margin-bottom: 17.3rem
    .info__text
      +m($lg)
        margin-top: 0