@font-face
  font-family: 'Helvetica'
  src: url('../fonts/Helvetica/Helvetica-Bold.woff2') format("woff2"), url('../fonts/Helvetica/Helvetica-Bold.woff') format("woff")
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Helvetica'
  src: url('../fonts/Helvetica/Helvetica-Regular.woff2') format("woff2"), url('../fonts/Helvetica/Helvetica-Regular.woff') format("woff")
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Helvetica'
  src: url('../fonts/Helvetica/Helvetica-Light.woff2') format("woff2"), url('../fonts/Helvetica/Helvetica-Light.woff') format("woff")
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Helvetica Neue'
  src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff2') format("woff2"), url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff') format("woff")
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Helvetica Neue'
  src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff2') format("woff2"), url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff') format("woff")
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Times'
  src: url('../fonts/Times/Times-Roman.woff2') format("woff2"), url('../fonts/Times/Times-Roman.woff') format("woff")
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Times NR MT'
  src: url('../fonts/TimesNrMt/TimesNRMT.woff2') format("woff2"), url('../fonts/TimesNrMt/TimesNRMT.woff') format("woff")
  font-weight: 400
  font-style: normal